.start-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.start-button {
    padding: 15px 30px;
    border: none;
    background-color: #32CD32;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #228B22;
}